head {
	text-align: center;
	color: white; 
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 40px;
	
	
}

body {
	background-color: rgba(29,29,29,1.00);
	text-align: center;
	color: white;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: 20px;
}
table {
	filter: invert(100)
}

a {
    color: #0060B6;
    text-decoration: none !important;
}