@charset "utf-8";
/* CSS Document */
head {
	text-align: center;
	color: white; 
	font-family: "Source Code Pro";
	font-size: 40px;
	
	
}

body {
	background-color: rgba(43, 43, 43);
	text-align: center;
	color: white;
	font-family: "Source Code Pro";
	font-size: 20px;
}
table {
	filter: invert(100)
}